.container {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-template-rows: repeat(3, 30vh);
  background-color: #efefef;
}

.cell {
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  align-items: center;
  font-size: 2rem;
  color: #ffffff;
}

.sorting{
  position: absolute;
  right: 8rem;
  top: 1rem;
  border: none;
  width: 8rem;
  border-radius: 1rem;
  background-color: #72c3dc;
  color: #ffffff;
  cursor: pointer;
  height: 2rem;
}

.suffling{
  position: absolute;
  right: 8rem;
  top: 4rem;
  border: none;
  width: 8rem;
  border-radius: 1rem;
  background-color: #72c3dc;
  color: #ffffff;
  cursor: pointer;
  height: 2rem;
}