.App {
  display: grid;
  grid-template-columns: 75vw 25vw;
  grid-template-rows: 100vh;
  grid-template-areas: 
    "container1  gridButtonBottom";
  background-color: #efefef;
  height: 100vh;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-template-rows: repeat(3, 30vh);
  background-color: #efefef;
}

.cell {
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  border: 0.01rem solid #ffffff;
  align-items: center;
  font-size: 3rem;
  color: #ffffff;
}

.gridButtonTop, .container2{
  display: none;
}

.gridButtonBottom{
  display: grid;
  grid-template-columns: 25vw;
  grid-template-rows: 20vh 20vh;
  grid-template-areas: 
    "suffling"
    "sorting"  ;
  justify-self: center;
  padding: 1rem;
}

.sorting{
  display: block;
  justify-self: center;
  border: none;
  outline:none;
  width: 60%;
  border-radius: 0.5rem;
  background-color: #72c3dc;
  color: #ffffff;
  cursor: pointer;
  height: 2rem;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
}

.suffling{
  display: block;
  justify-self: center;
  border: none;
  outline:none;
  width: 60%;
  border-radius: 0.5rem;
  background-color: #72c3dc;
  color: #ffffff;
  cursor: pointer;
  height: 2rem;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
}

.suffling:active, .sorting:active {
  box-shadow: 0 6px 4px -4px black;
  transform: translateY(4px);
}


@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  .App {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
      "gridButtonTop"
      "container2";
    background-color: #ffffff;
    height: 100vh;
    justify-self: start;
  }

  .container2 {
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: repeat(9, 10vh);
    background-color: #ffffff;
    justify-self: center;
    height: 90vh;
  }

  .gridButtonBottom, .container1{
    display: none;
  }

  .gridButtonTop{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh;
    grid-template-areas: 
      "suffling sorting";
    justify-self: start;
    height: 10vh;
    padding-top: 0.7rem;
  }

  .cell {
    display: inline-block;
    box-sizing: border-box;
    border: 0.1rem solid #ffffff;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    background-color: #efefef;
    padding-top: 0.5rem;
  }

  .suffling, .sorting {
    display: inline-block;
    margin-left: 1rem;
  }
}